.twoFactorContainer {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 52px);
  overflow: hidden;
  background-color: #0f4e91;
}

.logInTitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 0;
  color: white;
}
h3 {
  color: white;
}

.authBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
}
.authBackgroundShape {
  position: absolute;
  width: 1000px;
  height: 700px;
  background: rgba(0, 123, 255, 0.4);
  border-radius: 60% 40% 70% 30% / 30% 70% 40% 60%;
  right: -200px;
  bottom: -100px;
  transform: rotate(-15deg);
  z-index: 0;
}
.authBackground::before,
.authBackground::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: rgba(0, 123, 255, 0.4);
}

.authBackground::before {
  width: 600px;
  height: 600px;
  top: -200px;
  right: -200px;
}

.authBackground::after {
  width: 500px;
  height: 500px;
  bottom: -150px;
  left: -150px;
}

.authForm {
  position: relative;
  z-index: 1;
}

.inputField,
.codeInput {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
.grayUserCompound {
  opacity: 0.5;
  cursor: pointer;
}

.verifyButton {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  border-radius: 5px;
}

.resendButton {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.resendButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.message {
  color: #d9534f;
  font-size: 0.9rem;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .twoFactorContainer {
    width: 100%;
    padding: 15px;
  }

  h2 {
    font-size: 1.2rem;
  }

  .inputField,
  .codeInput,
  .verifyButton,
  .resendButton {
    font-size: 0.9rem;
    padding: 8px;
  }

  .verifyButton {
    font-size: 1rem;
  }
}
